rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    match /expenses/{doc} {
      allow read, write: if true;
    }
    match /todos/{doc} {
      allow read, write: if true;
    }
    match /notes/{doc} {
      allow read, write: if true;
    }
  }
}
